<!-- <div id="container">
<ul>
  <li>
    <a class="navbar-brand" routerLink="/">Home</a>
  </li>
  <li>
      <a class="navbar-brand" routerLink="/about">About</a>
  </li>
  <li>
    <a class="navbar-brand" routerLink="/contact">Contact</a>
  </li>
</ul> -->
  <!-- Invoke a method in the component using Interpolation -->
  <!-- <div>
    <h1>Welcome To {{getTitle()}}</h1>
  </div>
  </div> -->

  <!-- NavBar -->
<app-navbar></app-navbar>

<router-outlet></router-outlet>

<!-- Footer -->
<app-footer></app-footer>
